@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", system-ui, sans-serif;
  --color-primary: #137fec;
  --color-primary-hover: #0d6fe0;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #0f172a;
}
